* {
    margin: 0;
    padding: 0;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

html {
    background: #1b2838;
}

.row-m {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderIntro {
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.mySkills {
    background: url(https://github.com/jayfosterbro/test_site/blob/master/bb2cc4a6.png?raw=true);
    background-size: cover;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 2px black dashed;
}

.mySkills div {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}